@model IEnumerable<CitelProject.MVC.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="navbar navbar-default bootstrap-admin-navbar-thin">
        <ol class="breadcrumb bootstrap-admin-breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">Início</a>
            </li>
            <li class="active">Produtos</li>
        </ol>
    </div>
</div>

<h2>Produtos</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success"><i class="glyphicon glyphicon-pencil glyphicon-white"></i> Criar Produto</a>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            Categoria
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ProductID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Detalhes", "Details", new { id = item.ProductID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Deletar", "Delete", new { id = item.ProductID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
